{% extends 'base.html' %}

{% block title %}Pending Orders{% endblock %}

{% block content %}
{% for x in messages %}
<p>{{x}}</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
<table class="menu profile">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Mark as ready</th>
    </tr>
    {% for x in items %}
    <tr>
        <td>{{x.dish.name}}</td>
        <td>{{x.quantity}}</td>
        <td><input type="submit" name="{{x.pk}}" value="Cook"></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
