{% extends 'orders/order_base.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<h1>MENU</h1>
<form action="{% url 'orders:orderplaced' %}" method="post">
    {% csrf_token %}
    <table class="menu">
        <tr>
            <th>Dish Name</th>
            <th>Description</th>
            <th>Reviews</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for d in items %}
        <tr>
            <td><a href="{% url 'orders:review' d.pk %}">{{ d.name }}</a></td>
            <td>{{ d.description }}</td>
            <td>{{ d.rating }}</td>
            <td>{{ d.price }}</td>
            <td><input type="number" value="0" min="0" max="100" name="{{ d.pk }}"/></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Checkout"/>
</form>
{% endblock %}
