{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
            Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            margin: 40px auto;
            max-width: 800px;
            padding: 0 10px;
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
        }

        h1, h2, h3 {
            line-height: 1.2
        }

        .profile {
            background-color: #f8f9fa;
            color: #222;
            margin: 1em 0;
            border: 1px solid #a2a9b1;
            border-collapse: collapse
        }

        .profile > tr > th,
        .profile > tr > td,
        .profile > * > tr > th,
        .profile > * > tr > td {
            border: 1px solid #a2a9b1;
            padding: 0.2em 0.4em
        }

        .profile > tr > th,
        .profile > * > tr > th {
            background-color: #eaecf0;
            text-align: center
        }

        .profile > caption {
            font-weight: bold
        }
    </style>
<h1>PROFILE</h1>
<table class="profile">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>BlackListStatus</th>
    </tr>
    <tr>
        <td>{{ v.f_name }}</td>
        <td>{{ v.l_name }}</td>
        <td>{{ v.shipping }}</td>
        <td>{{ v.email }}</td>
        <td>{{ v.phone }}</td>
        <td>{{ v.blacklisted}}</td>
    </tr>
</table>
<h1>PAYMENT INFO</h1>
<table class="profile">
    <tr>
        <th>Card Name</th>
        <th>Card Number</th>
        <th>Exp. Month</th>
        <th>Exp. Year</th>
        <th>CVV</th>
    </tr>
    {% for i in i %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.card_num }}</td>
            <td>{{ i.exp_month }}</td>
            <td>{{ i.exp_year }}</td>
            <td>{{ i.cvv }}</td>
        </tr>
        {% endfor %}
</table>




<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCTPKfDZTXUbICmEu6si2IgJ_1abYiMa_g
    &q={{ location }}" allowfullscreen>
</iframe>



{% endblock %}

