{% extends 'orders/order_base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>PROFILE</h1>
<table class="menu profile">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>BlackListStatus</th>
    </tr>
    <tr>
        <td>{{ v.f_name }}</td>
        <td>{{ v.l_name }}</td>
        <td>{{ v.address }}</td>
        <td>{{ v.email }}</td>
        <td>{{ v.phone }}</td>
        <td>{{ v.blacklisted }}</td>
    </tr>
</table>
<h1>PAYMENT INFO</h1>
<a href="{% url 'orders:addpayment'%}">Add Payment Info</a>
<table class="menu profile">
    <tr>
        <th>Card Name</th>
        <th>Card Number</th>
        <th>Exp. Month</th>
        <th>Exp. Year</th>
        <th>CVV</th>
    </tr>
    {% for i in i %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.card_num }}</td>
            <td>{{ i.exp_month }}</td>
            <td>{{ i.exp_year }}</td>
            <td>{{ i.cvv }}</td>
        </tr>
        {% endfor %}
</table>
<h1>ORDER HISTORY</h1>
<table class="menu profile">
    <tr>
        <th>Order Time</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    {% for x in orders %}
    <tr>
        <td>{{x.order_time}}</td>
        <td>{{x.price}}</td>
        <td>Cooking</td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'orders:addpayment' %}" method="get">
    <input type="submit" value="Add Card"
         name="Submit" id="frm1_submit" />
</form>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=City+Hall,New+York,NY
&destination={{ location }}
&key=AIzaSyCTPKfDZTXUbICmEu6si2IgJ_1abYiMa_g" allowfullscreen></iframe>

{% endblock %}